@font-face {
  font-family: 'MuseoSansCyrl-300';
  src: url('../fonts/MuseoSansCyrl-300.eot');
  src: url('../fonts/MuseoSansCyrl-300.eot') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl-300.svg') format('svg'),
    url('../fonts/MuseoSansCyrl-300.ttf') format('truetype'),
    url('../fonts/MuseoSansCyrl-300.woff') format('woff'),
    url('../fonts/MuseoSansCyrl-300.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}