body {
    background-color: white;
    // background-image: url(../../../prev.png);
    // background-position: top;
    font-family: 'MuseoSansCyrl-300';
    font-weight: 300;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0.02em;
}

.container {
    max-width: 1200px;
}

.title {
    text-align: center;
    color: black;
    line-height: 56px;
    letter-spacing: 0.02em;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Cormorant Infant', serif;
}

h1.title {
    font-size: 70px;
    line-height: 85px;
    color: white;
}

header {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

a,
button,
select {
    cursor: pointer;
}