.design {
    padding-top: 100px;
    padding-bottom: 33px;

    &__title {
        padding-top: 41px;
        padding-bottom: 40px;
        text-align: left;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 600px;
            height: 1px;
            background-color: #EAEAEA;
            top: -20%;
        }
    }

    &__text {
        color: #444444;
        padding-bottom: 40px;
    }

    &__button {

        width: 218px;
        height: 50px;
        border: 1px solid #5F82FF;
        border-radius: 6px;
        background-color: transparent;

        color: #5F82FF;
        font-size: 15px;
        letter-spacing: 0.02em;



    }

    &__img {
        position: relative;

    }

    &__hr {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 90.5%;
            height: 1px;
            background-color: #EAEAEA;
            bottom: -34px;
        }

        &::before {
            content: '';
            position: absolute;
            width: 1px;
            height: 108%;
            right: 115px;
            background-color: #EAEAEA;

        }
    }
}