.logo {

    &__text {
        font-size: 13px;
        line-height: 16px;
        color: #999999;
        letter-spacing: 0.05em;
        padding-left: 10px;

        &--footer {
            font-weight: 300;
            font-size: 11px;
            line-height: 13px;
            color: #999999;
            padding-left: 5px;
        }
    }

    &__title {
        font-weight: bold;
        font-size: 24px;
        line-height: 23px;
        letter-spacing: 0.05em;
        font-family: 'Cormorant Infant', serif;
        padding-left: 10px;
        color: white;

        &--footer {
            font-size: 22px;
            line-height: 27px;
            color: #444444;
            padding-left: 5px;
        }



    }


}