.tel {
    &__link {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.02em;
        padding-top: 5px;

        &--activ {
            font-weight: 300;
            color: #5F82FF;

        }
    }
}