.img__prev.slick-arrow {
  position: absolute;
  top: 49%;
  left: 6%;
  z-index: 77777;
  cursor: pointer; }

.img__next.slick-arrow {
  position: absolute;
  top: 49%;
  z-index: 77777;
  right: 7%;
  cursor: pointer; }

.gallery__slider > .slick-list > .slick-track > .slick-slide:not(.slick-current) {
  opacity: 0;
  -webkit-transition: ease 2s;
  -o-transition: ease 2s;
  transition: ease 2s; }

.gallery__slider > .slick-list > .slick-track > .slick-slide.slick-current {
  opacity: 1;
  -webkit-transition: ease 2s;
  -o-transition: ease 2s;
  transition: ease 2s; }

.slick-dots li button::before {
  color: #FFFFFF;
  font-size: 39px;
  opacity: 1; }

.slick-dots li.slick-active button::before {
  color: #5F82FF;
  opacity: 1; }

.slick-dots {
  bottom: 5px; }

.slick-dotted.slick-slider {
  margin-bottom: 0; }
